body
{
    margin:  0;
    padding: 0;
    background-image:url(https://www.hindustantimes.com/ht-img/img/2023/05/22/1600x900/Screenshot_2023-05-22_184009_1684761025166_1684761032067.png);
    font-family: 'Arial';
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: transparent;
        border-radius: 15px ;

}
h2{
    text-align: center;
    color: #3b7512;
    padding: 20px;
    text-decoration: wavy;
}
label{
    color: #08ffd1;
    font-size: 17px;
}
#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{

    width: 310px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: rgb(32, 49, 160);


}
span{
    color: rgba(27, 13, 184, 0.873);
    font-size: 17px;
}
a{
    float:left;
    background-color: grey;
}